<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <!-- Set validation keys-->
        <add key="ReCaptchaPublicKey"
             value="6LfDdMsSAAAAAE6oT2IQFyQm9JFNaux-m10NaTPO"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="ReCaptchaPrivateKey"
             value="6LfDdMsSAAAAAO3q_tr3-wAayky7-cCxVwbdl2ru"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <!-- Disable debugging -->
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!-- Set production machine key-->
        <machineKey validation="HMACSHA256"
                    decryption="AES"
                    validationKey="240F4F0D0AF9D7E7D8A3D04921CF44E9F66CCBD23D9A72EEDFB7F120B06487D0"
                    decryptionKey="DCF1B900FC00A5D667201F38229910139F93FE8170079D1C01C62AE69B913D27"
                    xdt:Transform="SetAttributes" />
        <!-- Set cookies domain-->
        <authentication>
            <forms domain="vtipbaze.cz"
                   xdt:Transform="SetAttributes"/>
        </authentication>
    </system.web>
</configuration>