<!DOCTYPE html>
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Altairis.VtipBaze.WebCore.Pages.Site" ViewStateMode="Disabled" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/south-street/jquery-ui.css" />
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Styles/css") %>
    </asp:PlaceHolder>
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
    <meta name="author" content="Michal A. Valášek (www.rider.cz), Altairis (www.altairis.cz)" />
    <meta name="description" content="Ad-free database of jokes" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" EnableCdn="true" AjaxFrameworkMode="Disabled">
            <Scripts>
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="jquery.ui.combined" />
                <asp:ScriptReference Name="site" />
            </Scripts>
        </asp:ScriptManager>
        <header>
            <div>
                <b>VTIP</b>BÁZE<span>.CZ</span>
            </div>
            <nav class="ui-widget-header ui-corner-all">
                <asp:HyperLink runat="server" NavigateUrl='<%$ RouteUrl: RouteName=HomePage, PageIndex=1 %>' Text="Newest" />
                <asp:HyperLink runat="server" NavigateUrl="<%$ RouteUrl: RouteName=TagList %>" Text="Tags" />
                <asp:HyperLink runat="server" NavigateUrl="<%$ RouteUrl: RouteName=NewJoke %>" Text="Add your own" />
                <asp:LoginView runat="server">
                    <LoggedInTemplate>
                        <asp:HyperLink runat="server" NavigateUrl="<%$ RouteUrl: RouteName=AdminHomePage, PageIndex=1 %>" Text="Admin" />
                        <asp:LoginStatus runat="server" LogoutText="Sign out" data-confirmprompt="Do you really want to sign out?" />
                    </LoggedInTemplate>
                </asp:LoginView>
            </nav>
        </header>
        <asp:ContentPlaceHolder ID="MainCPH" runat="server" />
        <footer class="ui-widget-header ui-corner-all">
            <ul>
                <li>Copyright © <a href="http://www.rider.cz/?utm_medium=footerlink&amp;utm_source=vtipbaze">Michal A. Valášek</a> - <a href="http://www.altairis.cz/?utm_medium=footerlink&amp;utm_source=vtipbaze">Altairis</a>, 2011-2014</li>
                <li>Kindly provided to serve as a sample for <a href="https://www.dotvvm.com/modernize">Migration of Web Forms apps to .NET 7 using DotVVM</a></li>
                <li>
                    <a href="/feed.xml">RSS/ATOM</a>
                </li>
                <li>
                    <a href="/admin">&pi;</a>
                </li>
            </ul>
        </footer>
    </form>
</body>
</html>
